@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body {
  background: #efeff6;
  font-family: Roboto, sans-serif;
}

table#game-table {
  border-collapse: collapse;
  width: 100%;

  .x, .temp-x {
    background-image: url(https://i.imgur.com/Mr6GZRT.png);
    background-size: cover;
  }

  .o, .temp-o {
    background-image: url(https://i.imgur.com/lVUyPqe.png);
    background-size: cover;
  }

  &.active-game {
    td {
      cursor: pointer
    }
  }

  td {
    border: 1px solid #ccc;
    width: (100 / 3) * 1%;
    padding-bottom: (100 / 3) * 1%;
    display: inline-block;
  }

  tr {

    td:nth-child(1) {
      border-left: none;
    }

    td:nth-child(3) {
      border-right: none;
    }

    &:nth-child(1) {
      td {
        border-top: none;
      }
    }

    &:nth-child(3) {
      td {
        border-bottom: none
      }
    }

  }
}

.container {
  height: 100%;
  width: 100%;
}

.authenticated, .settings, .nav-link-authenticated {
  display: none;
}

.box {
	background-color: #fff;
  border: 1px solid #e0e0e0;
	border-radius: 3px;
	padding: 25px;

}

.section-title {
  margin-bottom: .25rem;
}

.section-title-spacer {
  @extend .section-title;
  height: 24px;
}

.main-content {
  margin-top: 50px;
}

#navbar-links {
  justify-content: flex-end;
}

/* Media Queries */
@media (max-width: 992px) {
  nav {
    padding: 0 15px;
  }

  table td {
    height: 100px;
    min-height: 100px;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container {
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  table td {
    height: 75px;
    min-height: 75px;
  }

  .navbar-expand-lg > .container {
    padding: 0
  }
}
