@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body {
  background: #efeff6;
  font-family: Roboto, sans-serif;
}

.container {
  height: 100%;
  width: 100%;
}

.authenticated {
  display: none;
}

.box {
	background-color: #fff;
  border: 1px solid #e0e0e0;
	border-radius: 3px;
	max-width: 500px;
	padding: 25px;

}

.max500 {
  max-width: 500px;
}

#tic-title {
  font-size: 64px;
  margin: 40px 0;
}

/* Media Queries */

@media (max-width: 992px) {

  [class*="col-"] {
      margin-bottom: 15px;
  }

}
